# If you need to customize Behat, copy this to behat.yml and do it there
default:
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://localhost:8000/index_test.php
            goutte: ~
            selenium2: ~

imports:
    - behat_defaults.yml
