{% extends 'layout.twig' %}

{% block content %}
<div class="button-list">
    <ul class="action-buttons-list">
        <li>
            <a href="{{ path('programmer_new') }}" class="btn btn-lg btn-create">Create Programmer</a>
        </li>
        <li>
            <a href="{{ path('programmer_choose') }}" class="btn btn-lg btn-start-battle">Start Battle</a>
        </li>
        <li>
            <a href="{{ path('battle_list') }}" class="btn btn-lg btn-scores">Scores</a>
        </li>
    </ul>
</div>
{% endblock %}
