{% extends 'layout.twig' %}

{% block content %}
    <ul class="action-buttons-list">
        <li>
            <a href="#" class="btn btn-lg btn-default">Create Programmer</a>
        </li>
        <li>
            <a href="#" class="btn btn-lg btn-danger">Battle</a>
        </li>
        <li>
            <a href="#" class="btn btn-lg btn-info">Scores</a>
        </li>
    </ul>
{% endblock %}
