{% extends "layout.twig" %}
{% import '_macros.twig' as macros %}

{% block content %}
    <h1>Login!</h1>

    {% if error %}
        {{ macros.print_errors([error]) }}
    {% endif %}

    <div class="row">
        <form class="bs-example form-horizontal" action="{{ path('user_login_check') }}" method="post">
            <fieldset>
                {{ macros.form_field('text', '_username', 'Email', last_username, 'foo@example.com') }}
                {{ macros.form_field('password', '_password', 'Password', '', '') }}
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Login!</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}
