{% extends "layout.twig" %}
{% import '_macros.twig' as macros %}

{% block content %}
    <h1>{{ programmer.nickname }}</h1>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}