h1 {
    font-size: 30px;
}
table.table.user-information th {
    white-space: nowrap;
    border-top: none;
}
table.table.user-information td {
    border-top: none;
}
.logo {
    margin: 10px;
    height: 30px;
    width: auto;
    float: left;
}
.navbar-brand {
  float: left;
  padding: 18px 15px;
  font-size: 2em;
  line-height: 20px;
}
body {
    margin-top: 75px;
    background: #fff url(../img/crossword.png);
}

/*Login Form*/

.form-login {
    margin-top: 20px;
}

.reg-btn,
.cancel-link {
    color: #7d7d7d;
    text-decoration: underline;
    font-size: 1.15em;
}

/* Styling for the main box wrapper used on each page */
.main-console-screen {
    color: #f7f7f7;
    border: 1px solid #ccc;
    background: #33cc99;
    box-shadow: 5px 5px 1px 0px rgba(220,220,220,.5);
    border-radius: 6px;
    padding: 0px 20px 10px 20px;
} 
/*
 * HOMEPAGE
 */
 
.button-list {
    padding: 20px 0px 0px 0px;
}

ul.action-buttons-list {
    list-style: none;
    text-align: center;
    padding: 0px;
}
ul.action-buttons-list li {
    margin-bottom: 20px;
}
ul.action-buttons-list .btn {
    width: 200px;
}

/*
 * CREATE PROGRAMMER
 */
.avatar-list {
    list-style: none;
}

ul.js-selectable-tile{
    padding: 0px;
}
.js-selectable-tile {
    padding-left: 10px;
}
.js-selectable-tile li {
    height: 104px;
    width: 104px;
    display: -moz-inline-box;
    display: inline-block;
    border: 2px solid transparent;
    margin: 0 3px 10px 3px;
    cursor: pointer;
}
.js-selectable-tile li.selected {
    border: 2px solid #000;
    box-shadow: 2px 2px 2px gray;

}

/*
 * Programmer Show Page
 */

.btn-battle {
    background: #ed0345;
}

/*
 * Choose a Programmer
 */

ul.programmers-list {
    list-style: none;
}

/*
 * Bootstrap overrides
 */