h1 {
    font-size: 30px;
}
table.table.user-information th {
    white-space: nowrap;
    border-top: none;
}
table.table.user-information td {
    border-top: none;
}

body {
    margin-top: 100px;
}

/* Styling for the main box wrapper used on each page */
.main-console-screen {
    border: 1px solid #ccc;
    padding: 10px 20px;
}

/*
 * HOMEPAGE
 */
ul.action-buttons-list {
    list-style: none;
    text-align: center;
}
ul.action-buttons-list li {
    margin-bottom: 20px;
}
ul.action-buttons-list .btn {
    width: 200px;
}

/*
 * CREATE PROGRAMMER
 */
.avatar-list {
    list-style: none;
}
.js-selectable-tile {
    padding-left: 10px;
}
.js-selectable-tile li {
    height: 100px;
    width: 100px;
    display: -moz-inline-box;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 0 5px 10px 5px;
}
.js-selectable-tile li.selected {
    background: #666;
}