h1 {
    font-size: 30px;
}
table.table.user-information th {
    white-space: nowrap;
    border-top: none;
}
table.table.user-information td {
    border-top: none;
}
.logo {
    margin: 10px;
    height: 30px;
    width: auto;
    float: left;
}
.navbar-brand {
    float: left;
    padding: 18px 15px;
    font-size: 2em;
    line-height: 20px;
}
body {
    margin-top: 75px;
    background: #fff url(../img/crossword.png);
}

/*Login Form*/

.form-login {
    margin-top: 20px;
}

.reg-btn,
.cancel-link {
    color: #7d7d7d;
    text-decoration: underline;
    font-size: 1.15em;
}
.cancel-link:hover {
    color: black;
}

/* Styling for the main box wrapper used on each page */
.main-console-screen {
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
    max-width: 370px;
    color: #f7f7f7;
    border: 1px solid #ccc;
    background: #33cc99;
    box-shadow: 5px 5px 1px 0px rgba(220,220,220,.5);
    border-radius: 6px;
} 
/*
 * HOMEPAGE
 */
 
.button-list {
    padding: 20px 0px 0px 0px;
}
ul.action-buttons-list {
    list-style: none;
    text-align: center;
    padding: 0px;
}
ul.action-buttons-list li {
    margin-bottom: 20px;
}
ul.action-buttons-list .btn {
    width: 200px;
}
.btn-create {
    color: white;
    background: #bababa;
}
.btn-create:hover {
    color: white;
    background: #e0e0e0;
}
.btn-start-battle {
    color: white;
    background: #ef6a32;
}
.btn-start-battle:hover {
    color: white;
    background: #FF7338;
}    
.btn-scores {
    color: white;
    background: #01545a;
}
.btn-scores:hover {
    color: white;
    background: #618C8F;
}

/*
 * CREATE PROGRAMMER
 */
 
#create {
     text-align: center;
 }
.avatar-list {
    list-style: none;
}

ul.js-selectable-tile {
    padding: 0px;
}
.js-selectable-tile li:hover {
    box-shadow: 4px 4px 10px gray;
}

.js-selectable-tile li {
    width: 30%;
    margin: 1.6666666666667%;
    float: left;
    display: -moz-inline-box;
    display: inline-block;
    cursor: pointer;
}
.js-selectable-tile li.selected {
    box-shadow: 4px 4px 10px gray;

}
.create-buttons {
    margin: 10px 0 0 0;
}

/*
 * Programmer Show Page
 */

.btn-power {
    background: #a6d96a;
}
.btn-power:hover {
    background: #d9ef8b;
    color: white;
}

/*
 * Choose a Programmer
 */

ul.programmers-list {
    list-style: none;
}