h1 {
    font-size: 30px;
}
body {
    margin-top: 75px;
    background: #fff url(../img/crossword.png);
}
.main-console-screen {
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
    max-width: 370px;
    color: #f7f7f7;
    border: 1px solid #ccc;
    background: #2DB084;
    box-shadow: 5px 5px 1px 0px rgba(220,220,220,.5);
    border-radius: 6px;
} 
/***********************
Navigation
***********************/
.logo {
    margin: 10px;
    height: 30px;
    width: auto;
    float: left;
}
.navbar-brand {
    float: left;
    padding: 18px 15px;
    font-size: 2em;
    line-height: 20px;
}
.reg-nav {
    text-decoration: none;
}
table.table.user-information th {
    white-space: nowrap;
    border-top: none;
}
table.table.user-information td {
    border-top: none;
}

/***********************
Login Form
***********************/

.form-login {
    margin-top: 20px;
}

#reg-btn,
.cancel-link {
    color: #585757;
    text-decoration: underline;
    font-size: 1.15em;
}
.cancel-link:hover {
    color: black;
}
#reg-btn:hover {
    color: black;
}
/***********************
HOMEPAGE
***********************/
 
.button-list {
    padding: 20px 0px 0px 0px;
}
ul.action-buttons-list {
    list-style: none;
    text-align: center;
    padding: 0px;
}
ul.action-buttons-list li {
    margin-bottom: 20px;
}
ul.action-buttons-list .btn {
    width: 200px;
}
.btn-create {
    color: white;
    background: #bababa;
}
.btn-create:hover {
    color: white;
    background: #e0e0e0;
}
.btn-start-battle {
    color: white;
    background: #ef6a32;
    border: none;
}
.btn-start-battle:hover {
    color: white;
    background: #FF7338;
}    
.btn-scores {
    color: white;
    background: #01545a;
}
.btn-scores:hover {
    color: white;
    background: #618C8F;
}

/***********************
CREATE PROGRAMMER
***********************/
 
#create {
     text-align: center;
 }
.avatar-list {
    list-style: none;
}

ul.js-selectable-tile {
    padding: 0px;
}
.js-selectable-tile li:hover {
    box-shadow: 4px 4px 10px #585757;
}

.js-selectable-tile li {
    width: 30%;
    margin: 1.6666666666667%;
    float: left;
    display: -moz-inline-box;
    display: inline-block;
    cursor: pointer;
}
.js-selectable-tile li.selected {
    box-shadow: 4px 4px 10px #585757;
}
.create-buttons {
    margin: 10px 0 0 0;
}

/***********************
Programmer Show Page
***********************/

.nickname,
.prog-level,
.show-power {
    text-align: center;
}

.prog-level {
    font-size: 1.2em;
}
.prog-show {
    display: block;
    margin: auto;
    padding-top: 10px;
}
.show-power {
    padding-bottom: 15px;
}
.btn-power {
    background: #9AC962;
}
.battle-btns {
    text-align: center;
}
.btn-power:hover {
    background: #C5D97B;
    color: white;
}

/***********************
Choose a Programmer
***********************/
.programmers-list li a {
    color: white;
}

ul.programmers-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.programmers-list li {
    width: 30%;
    margin: 1.6666666666667%;
    float: left;
    display: -moz-inline-box;
    display: inline-block;
    cursor: pointer;
}

.choose-button {
    clear: left;
    text-align: center;
}

/***********************
Battle Modal
***********************/

.modal-title {
     color: #585757;
 }
ul.projects-list {
    list-style: none;
    margin: 0px auto;
}
.projects-list li {
    display: block;
    padding: 5px 0 5px 0;
}    
.btn-enemy {
    background: #B41212;
}
.battle-progress-message {
  text-align: center;
  color: #000;
  font-size: 20px;
}

/***********************
Post Battle Results
***********************/
 
.battle-result {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

#winner {
    color: black;
    text-align: center;
    background: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 1px 0px rgba(220,220,220,.5);    
}

#battle-notes{
    font-size: 1.2em;
    padding-top: 10px;
    text-align: center;
}

.results {
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    margin: 0;
}
 
.btn-surrender {
    background: white;
    color: black;
    border: none;
}

/***********************
Table of results
***********************/
.table {
    background: white;
}
td,
th {
    color: #585757;
}
    
td a {
    color: #585757;
}

td a:hover {
    text-decoration: none;
}

/***********************
Create Token Page
***********************/
.btn-header-margin {
  margin-top: 24px;
}
